/*------FOUNDATION------*/

body{
    margin: 0;
    background-color: #f9f6f1;

    -webkit-user-select: none !important; /* Safari */
    -moz-user-select: none !important;    /* Firefox */
    -ms-user-select: none !important;     /* IE 10 and IE 11 */
    user-select: none !important;         /* Standard syntax */
}

html{
    scroll-behavior: smooth;


}

a:link{
  text-decoration: none!important;
  -webkit-tap-highlight-color: transparent;

  
}
  
input{
      text-decoration: none!important;
  -webkit-tap-highlight-color: transparent;
}

button{
          text-decoration: none!important;
  -webkit-tap-highlight-color: transparent;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
  transition: all 0.80s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.logo:nth-child(1) {
  transition-delay: 100ms ;
}

.logo:nth-child(2) {
  transition-delay:200ms ;
}

.logo:nth-child(3) {
  transition-delay:300ms ;
}

.logo:nth-child(4) {
  transition-delay:400ms ;
}

.logo:nth-child(5) {
  transition-delay: 500ms ;
}
.logo:nth-child(6) {
  transition-delay: 600ms ;
}

.logo:nth-child(7) {
  transition-delay: 700ms ;
}

.logo:nth-child(8) {
  transition-delay: 700ms ;
}  

.logo:nth-child(9) {
  transition-delay: 700ms ;
}  

.logo:nth-child(10) {
  transition-delay: 700ms ;
}

/*------FOUNDATION------*/




































/*------DESKTOP------*/

.desktop{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  padding-right: 46px;
  padding-left: 22px;
  display: flex;
  justify-content: center;

    .container{
      box-sizing: border-box;
      padding-left: 16px;
      padding-right: 16px;

      .img-container{
        max-width: 380px;
        height: auto;
        margin-top: 56px;
      }
      
      .title{
        color: black;
        font-family: inter;
        font-weight: 700;
        text-align: center;
        margin-top: 28px;
        font-size: 24px;
      }


      .flex{
        width: 300px;
        display: flex;
        gap: 12px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;

        .input-group{
          width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0  px;

          .title{
              font-family: inter;
              font-size: 12px;
              font-family: 500;
          }
          .form-element{
            margin-top: 4px;
            display: flex;
            justify-content: center;

            input{
              box-sizing: border-box;
              padding: 22px;
              width: 100%;
              height: 48px;
              border: none;
              background-color: #EDEDED;
              border: 1px solid #D9D9D9;
              border-radius: 100px;
              font-size: 12px;
            }
          }   
        }

          button{
            margin-left: auto;
            margin-right: auto;
            width: 48px;
            height: 48px;
            cursor: pointer;
            box-sizing: border-box;
            background-color: #FF7B00;
            border: 1px solid #693300;
            border-radius: 100px;
            transition: 0.16s;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            font-weight: 500;
            color: #693300;
            
            font-family: inter;
            text-align: center;
        }

        button:hover{
          transform: scale(0.9);
        }
      }

      .details{
        font-family: inter;
        font-weight: 500;
        font-size: 12px;
        text-decoration: underline;
        text-align: center;
        color: black;
        margin-top: 32px;
      }
    }

}

.mobile{
  display: none;
}

/*------DESKTOP------*/


























































































































/*------MOBILE------*/

@media only screen and (max-width:750px) {
  .desktop{
    display: none;
  }

  /*MOBILE VIEW ONLY*/
  .mobile{
    display: block;
    padding-bottom: 32px;



    .container{
      box-sizing: border-box;
      padding-left: 16px;
      padding-right: 16px;

      .img-container{
        width: 100%;
        height: auto;
        margin-top: 56px;
      }
      
      .title{
        color: black;
        font-family: inter;
        font-weight: 700;
        text-align: center;
        margin-top: 28px;
        font-size: 24px;
      }


      .flex{
        width: 300px;
        display: flex;
        gap: 12px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;

        .input-group{
          width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0  px;

          .title{
              font-family: inter;
              font-size: 12px;
              font-family: 500;
          }
          .form-element{
            margin-top: 4px;
            display: flex;
            justify-content: center;

            input{
              box-sizing: border-box;
              padding: 22px;
              width: 100%;
              height: 48px;
              border: none;
              background-color: #EDEDED;
              border: 1px solid #D9D9D9;
              border-radius: 100px;
              font-size: 12px;
            }
          }   
        }

          button{
            margin-left: auto;
            margin-right: auto;
            width: 48px;
            height: 48px;
            cursor: pointer;
            box-sizing: border-box;
            background-color: #FF7B00;
            border: 1px solid #693300;
            border-radius: 100px;
            transition: 0.16s;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            
            font-weight: 500;
            color: #693300;
            
            font-family: inter;
            text-align: center;
        }

        button:hover{
          transform: scale(0.9);
        }
      }

      .details{
        font-family: inter;
        font-weight: 500;
        font-size: 12px;
        text-decoration: underline;
        text-align: center;
        color: black;
        margin-top: 32px;
      }
    }
  }
}

/*------MOBILE------*/
