/*------FOUNDATION------*/

body{
    margin: 0;
    background-color: #f9f6f1;

    -webkit-user-select: none !important; /* Safari */
    -moz-user-select: none !important;    /* Firefox */
    -ms-user-select: none !important;     /* IE 10 and IE 11 */
    user-select: none !important;         /* Standard syntax */
}

html{
    scroll-behavior: smooth;


}

a:link{
  text-decoration: none!important;
  -webkit-tap-highlight-color: transparent;

  
}
  
input{
      text-decoration: none!important;
  -webkit-tap-highlight-color: transparent;
}

button{
          text-decoration: none!important;
  -webkit-tap-highlight-color: transparent;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
  transition: all 0.80s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.logo:nth-child(1) {
  transition-delay: 100ms ;
}

.logo:nth-child(2) {
  transition-delay:200ms ;
}

.logo:nth-child(3) {
  transition-delay:300ms ;
}

.logo:nth-child(4) {
  transition-delay:400ms ;
}

.logo:nth-child(5) {
  transition-delay: 500ms ;
}
.logo:nth-child(6) {
  transition-delay: 600ms ;
}

.logo:nth-child(7) {
  transition-delay: 700ms ;
}

.logo:nth-child(8) {
  transition-delay: 700ms ;
}  

.logo:nth-child(9) {
  transition-delay: 700ms ;
}  

.logo:nth-child(10) {
  transition-delay: 700ms ;
}

/*------FOUNDATION------*/




































/*------DESKTOP------*/

.desktop{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  padding-right: 46px;
  padding-left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

    .container{
      box-sizing: border-box;
      padding-left: 16px;
      padding-right: 16px;

      .img-container{
        max-width: 380px;
        height: auto;
        margin-top: 56px;
      }

      .divider{
        width: 100%;
        height: 1px;
        background-color: #D9D9D9;
        margin-top: 46px;
        margin-bottomk: 46px;
      }

      .img-container2{
        width: 132px;
        height: auto;
        margin-top: 56px;
        margin-left: auto;
        margin-right: auto;
      }

      .details{
        font-family: inter;
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        color: black;
        margin-top: 6px;      
      }

      .btn{
        background-color: black;
        width: 100px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        margin-top: 12px;
        margin-left: auto;
        margin-right: auto;
        transition: 0.2s;

        .title{
          font-family: inter;
          font-weight: 700;
          font-size: 12px;
          text-align: center;
          color: rgb(255, 255, 255);
        }
      }

      .btn:hover{
        transform: scale(0.9);
      }
    }

}

.mobile{
  display: none;
}

/*------DESKTOP------*/


























































































































/*------MOBILE------*/

@media only screen and (max-width:750px) {
  .desktop{
    display: none;
  }

  /*MOBILE VIEW ONLY*/
  .mobile{
    display: block;
    padding-bottom: 100px;



    .container{
      box-sizing: border-box;
      padding-left: 16px;
      padding-right: 16px;

      .img-container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;        
        height: auto;
        margin-top: 56px;
      }

      .divider{
        width: 100%;
        height: 1px;
        background-color: #D9D9D9;
        margin-top: 46px;
        margin-bottomk: 46px;
      }

      .img-container2{
        width: 132px;
        height: auto;
        margin-top: 56px;
        margin-left: auto;
        margin-right: auto;
      }

      .details{
        font-family: inter;
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        color: black;
        margin-top: 6px;      
      }

      .btn{
        background-color: black;
        width: 100px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        margin-top: 12px;
        margin-left: auto;
        margin-right: auto;
        transition: 0.2s;

        .title{
          font-family: inter;
          font-weight: 700;
          font-size: 12px;
          text-align: center;
          color: rgb(255, 255, 255);
        }
      }

      .btn:hover{
        transform: scale(0.9);
      }
    }
  }
}

/*------MOBILE------*/
